
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    letter-spacing: .1px;
    font-weight: bold;
}

*::-webkit-scrollbar {
    width: 13px;
	background: linear-gradient(180deg,
    hsla(197, 100%, 63%, 1) 1%,
    hsla(294, 100%, 55%, 1) 100%);
}

*::-webkit-scrollbar-track
{
	background: transparent;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background:  linear-gradient(180deg, hsla(179, 67%, 66%, 1) 0%, hsla(238, 74%, 61%, 1) 100%)
}

body {
    background: linear-gradient(90deg,
            hsla(197, 100%, 63%, 1) 0%,
            hsla(294, 100%, 55%, 1) 100%);
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: #303a4e;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#logout-btn input {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: skyblue;
    cursor: pointer;
    color: #303a4e;
    font-size: 16px;
    transition: all .2s;
}

.dropdown-menu a:hover {
    background-color: rgb(170, 231, 255);
}

.logout input:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #ff4a08;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .right-section {
    height: 70vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section h6 {
    text-align: left;
    color: #fff;
    font-size: 30px;
}

.container .left-section {
    height: 70vh;
    width: 40%;
}

.container .left-section img {
    width: 550px;
}

#element {
    color: #303a4e;
}

#addButton{
    background: linear-gradient(90deg, hsla(276, 91%, 79%, 1) 0%, hsla(254, 74%, 65%, 1) 100%);
    color: #fff;
    border-radius: 20px;
    outline: none;
    border: none;
    font-weight: bold;
    transition: all .2s;
}

#addButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.main .request{
    position: absolute;
    z-index: 10;
    bottom: 30px;
    left: 20px;
}

.main .request .btn{
    width: 50px;
    height: 50px;
    border-radius: 55%;
    transition: all .2s ;
}

.main .request .btn span{
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: 0px;
}

.main .request img{
    cursor: pointer;
    position: absolute;
    width: 27px;
    top: 11px;
    right: 11px;

}

.main .request .btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.tooltip-inner {
    background-color: rgb(44, 44, 44) !important;
    color: white ;
  }

.modal-body table tr th {
    color: hsla(294, 100%, 55%, 1);
}
