* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    letter-spacing: .1px;
    font-weight: bold;
}

*::-webkit-scrollbar {
    width: 13px;
	background: linear-gradient(180deg,
    hsla(197, 100%, 63%, 1) 1%,
    hsla(294, 100%, 55%, 1) 100%);
}

*::-webkit-scrollbar-track
{
	background: transparent;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background:  linear-gradient(180deg, hsla(179, 67%, 66%, 1) 0%, hsla(238, 74%, 61%, 1) 100%)
}

body {
  
  min-height: 100vh;
    background: linear-gradient(90deg,
            hsla(197, 100%, 63%, 1) 0%,
            hsla(294, 100%, 55%, 1) 100%);
}

.container {
    width: 40rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 7px;
    position: relative;
    height: 100%;
    padding-bottom: 20px;
    background: inherit;
    overflow: hidden;
    top: 138px;
    padding-top: 15px;
  }

  .container:before {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }
/* .main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

h1 {
    text-align: center;
    color: #303a4e;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#logout-btn input {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: skyblue;
    cursor: pointer;
    color: #303a4e;
    font-size: 16px;
    transition: all .2s;
}

.dropdown-menu a:hover {
    background-color: rgb(170, 231, 255);
}

.logout input:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #ff4a08;
}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
} */


.container .table {
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

#element {
    color: #303a4e;
}

.main .container .request{
    position: fixed;
    bottom: 20px;
    left: 30px;
}

.tables_footer{
    position: relative;
    z-index: 10;
display: flex;
justify-content: space-evenly;
}

.tables_footer .Success_glass-button {
    display: inline-block;
    padding: 12px 18px;
    border: 2px solid #70e000;
    text-decoration: none;
    border-radius: 20px;
    background-color: #70e000;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }

 .tables_footer .Success_glass-button:hover{
    background-color: rgba(255,255,255,0.1);
    border: 2px solid #affc41;
    backdrop-filter: blur(30px);
    color: #affc41;
  }

 .tables_footer .reject_glass-button{
    display: inline-block;
    padding: 12px 18px;
    border: 2px solid #d00000;;
    text-decoration: none;
    border-radius: 20px;
    background-color: #d00000;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }

 .tables_footer .reject_glass-button:hover{
    background-color: rgba(255,255,255,0.1);
    border: 2px solid #d00000;
    backdrop-filter: blur(30px);
    color: #d00000;
  }
